body {
    background-color: #fff;
}
.mainBody-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mainBody-tile {
    padding: 50px;
    margin: 50px;
    border: 5px solid #000000;
    border-radius: 5px;
    text-align: left;
}