.mainBody {
  font-size: 18px;
  line-height: 30px;
}
.mainBody-intro-container {
  display: flex;
  background-color: #0000f4;
}
.mainBody-intro {
  padding: 0px 0px 0px 250px;
  max-width: 800px;
  margin: 50px 0px 50px 0px;
  text-align: left;
  color: white;
}

#flyin {	
  overflow: hidden;
  position: relative;
  animation: flyin 1s linear;
}
@keyframes flyin {
  0%   { 
  transform: translateX(200%); 		
  }
  100% { 
  transform: translateX(0%); 
  }
 }

.mainBody-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mainBody-tile {
  padding: 50px;
  margin: 50px;
  border: 5px solid lightblue;
  border-radius: 30px;
  text-align: left;
}

.blue-purp-gradient {
  border-radius: 13px;
  background: linear-gradient(90deg, #0062ff 0%, #ff00f2 100%);
          background-size : 400% 400%;
          animation : gradient 25s ease infinite;
      }
.block-description-header{
    padding-top: 100px;
    padding-bottom:50px;
}
.block-description-text {
    color: #FFFFFF;
    padding-bottom: 100px;
}

/* 
FLY IN TEXT
 */

