/* 
Heads and Bodies
*/

.raleway {
  font-family: 'Raleway', sans-serif;
}

.ralewayBold {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}


.mainBody {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  font-family: Arial;
}

.mainBody-white {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  font-family: Arial;
  color: white;
}

.mainBodyAlt {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-family: Arial;
    padding: 7px;
}

.mainBodyRale {
    font-style: normal;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.mainTitle {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Arial;
}

.mainTitleRale {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    color: #000000;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Raleway', sans-serif;
}

.mainTitleRaleBold {
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  color: #000000;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Raleway', sans-serif;
}


.mainTitle-white {
  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Arial;
}

.mainTitleRale-white {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Raleway', sans-serif;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
}

.centerAri {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
  font-family: Arial;
}

/* 
Gradients and Keyframes
*/

.red-orange-gradient {
  border-radius: 13px;
  background: linear-gradient(45deg, #FF2CAA 0%, #ffff01 100%);
          background-size : 400% 400%;
          animation : gradient 25s ease infinite;
      }
  
@keyframes gradient {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}

.blue-gradient {
  border-radius: 13px;
  background: linear-gradient(90deg, #0000f4 0%, #00e5ff 100%);
          background-size : 400% 400%;
          animation : gradient 25s ease infinite;
      }
        
@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.red-gradient {
  border-radius: 13px;
  background: linear-gradient(90deg, #ff0000 0%, #ffe600 100%);
          background-size : 400% 400%;
          animation : gradient 25s ease infinite;
      }
        
@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.green-gradient {
  border-radius: 13px;
  background: linear-gradient(90deg, #08AEEA 0%, #2AF598 100%);
          background-size : 400% 400%;
          animation : gradient 25s ease infinite;
      }
        
@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.dark-green-gradient {
  border-radius: 13px;
  background: linear-gradient(90deg, #114d0c 0%, #2AF598 100%);
          background-size : 400% 400%;
          animation : gradient 25s ease infinite;
      }
        
@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.grey-gradient {
  border-radius: 13px;
  background: linear-gradient(90deg, #000000 0%, #676d6a 100%);
          background-size : 400% 400%;
          animation : gradient 25s ease infinite;
      }
        
@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.dark-blue-gradient {
  border-radius: 13px;
  background: linear-gradient(90deg, #00002d 0%, #0000ff 100%);
          background-size : 400% 400%;
          animation : gradient 25s ease infinite;
      }
        
@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.rainbow-gradient {
  border-radius: 13px;
  background: linear-gradient(90deg, #ff0000 0%, #ffae00 15%, #ffff01 30%, #00ff00 45%, #00ffae 60%, #00ffff 75%, #0000ff 90%, #ff00ff 100%);
          background-size : 400% 400%;
          animation : gradient 25s ease infinite;
      }
@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

/* 
Padding Rules
*/

.padding-small {
  padding-top: 5px;
  padding-bottom: 5px;
}

.padding-medium {
  padding-top: 25px;
  padding-bottom: 25px;
}

.padding-semi-large {
  padding-top: 50px; 
  padding-bottom: 50px;
}

.padding-large {
  padding-top: 100px;
  padding-bottom: 100px;
}

.padding-xlarge {
  padding-top: 150px;
  padding-bottom: 150px;
}

.padding-ultra-large {
  padding-top: 200px;
  padding-bottom: 200px;
}

.unreasonable-padding {
  padding-top: 1000px;
  padding-bottom: 1000px;
}