.mainBody {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  font-family: Arial;
}

.mainBodyAlt {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-family: Arial;
    padding: 7px;
}

.mainBodyRale {
    font-style: normal;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.mainTitle {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Arial;
}

.mainTitleRale {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    color: #000000;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Raleway', sans-serif;
}

.mainTitle-white {
  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Arial;
}

.mainTitleRale-white {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Raleway', sans-serif;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
}

.centerAri {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
  font-family: Arial;
}

.red-orange-gradient {
    background: linear-gradient(45deg, #FF2CAA 0%, #ffff01 100%);
    border-radius: 13px;
}

.blue-gradient {
  border-radius: 13px;
  background: linear-gradient(90deg, #0000f4 0%, #00e5ff 100%);
          background-size : 400% 400%;
          animation : gradient 25s ease infinite;
      }
        
@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.red-gradient {
  border-radius: 13px;
  background: linear-gradient(90deg, #ff0000 0%, #ffe600 100%);
          background-size : 400% 400%;
          animation : gradient 25s ease infinite;
      }
        
@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.green-gradient {
  border-radius: 13px;
  background: linear-gradient(90deg, #08AEEA 0%, #2AF598 100%);
          background-size : 400% 400%;
          animation : gradient 25s ease infinite;
      }
        
@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.grey-gradient {
  border-radius: 13px;
  background: linear-gradient(90deg, #000000 0%, #676d6a 100%);
          background-size : 400% 400%;
          animation : gradient 25s ease infinite;
      }
        
@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}
