################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/js/models.ts

/.vscode/
