.mainBody {
    font-size: 18px;
    line-height: 30px;
}
.mainBody-intro-container {
    display:flex;

}
.mainBody-intro{
    background-color: lightgoldenrodyellow;
    padding: 100px 57.2% 100px 250px;
    margin: 50px 0px 50px 0px;
    text-align: left;
    
}
.mainBody-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
        
}